@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font face declarations */
@font-face {
  font-family: 'Litoland';
  src: url('/fonts/litoland/Litoland Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quenda';
  src: url('/fonts/quenda/Quenda-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/sansation/Sansation_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/sansation/Sansation_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/sansation/Sansation_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
